<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="dividend">
    Subtract this:
  </label>
  <input id="dividend" name="first_number" text="text">

  <label for="divisor">
    from this:
  </label>
  <input id="divisor" name="second_num" text="text">

  <button>
    Subtract!
  </button>
</form>
